body {
  font-family: "PT Sans Narrow", "Tahoma", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

p,
ul,
a {
  font-size: 14px;
}